<template>

    <div>

        <div class="form-group" v-for="(cost, index) in costs">
            <div class="row" v-if="cost.role === 1">
                <input type="hidden" :name="'costs[materials][' + index + '][role]'" value="1">
                <input type="hidden" :name="'costs[materials][' + index + '][id]'" v-model="cost.id">
                <div class="col-md-3">
                    <select :name="'costs[materials][' + index + '][type]'" class="form-control" v-model="cost.type" @change="loadMaterialProducts(cost, $event)">
                        <option value="">-- Tipo --</option>
                        <option v-for="option in materials" v-bind:value="option.type">
                            {{ option.type }}
                        </option>
                    </select>
                </div>
                <div class="col-md-5">
                    <select :name="'costs[materials][' + index + '][product]'" class="form-control" v-model="cost.id" @change="setProduct(cost, $event)">
                        <option value="">-- Producto --</option>
                        <option v-for="(product, index) in cost.products" v-bind:value="product.id" v-show="!hasMaterial(product.id)">
                            {{ product.product }} - {{ product.details }}
                        </option>
                    </select>
                </div>

                <div class="col-md-1">
                    <p class="form-control-static">Cantidad:</p>
                </div>
                <div class="col-md-1">
                    <input type="number" :name="'costs[materials][' + index + '][amount]'" class="form-control" v-model="cost.amount">
                </div>

                <div class="col-md-1">
                    <p class="form-control-static"><strong>${{ cost.total() }}</strong></p>
                </div>
                <div class="col-md-1"><button class="btn btn-danger" @click.prevent="removeCost(index, cost.id)">Eliminar</button></div>
            </div>


            <div class="row" v-if="cost.role === 2">
                <input type="hidden" :name="'costs[rrhh][' + index + '][role]'" value="2">
                <input type="hidden" :name="'costs[rrhh][' + index + '][id]'" v-model="cost.id">
                <div class="col-md-8">
                    <select :name="'costs[rrhh][' + index + '][type]'" class="form-control" v-model="cost.id" @change="setRrhh(cost, $event)">
                        <option value="">-- Tipo --</option>
                        <option v-for="option in rrhh" v-bind:value="option.id">
                            {{ option.type }}
                        </option>
                    </select>
                </div>
                <div class="col-md-1">
                    <p class="form-control-static">Horas:</p>
                </div>
                <div class="col-md-1">
                    <input type="number" :name="'costs[rrhh][' + index + '][amount]'" class="form-control" v-model="cost.amount">
                </div>

                <div class="col-md-1">
                    <p class="form-control-static"><strong>${{ cost.total() }}</strong></p>
                </div>
                <div class="col-md-1"><button class="btn btn-danger" @click.prevent="removeCost(index, cost.id)">Eliminar</button></div>
            </div>

            <div class="row" v-if="cost.role === 3">
                <input type="hidden" :name="'costs[quote][' + index + '][role]'" value="3">
                <input type="hidden" :name="'costs[quote][' + index + '][id]'" v-model="cost.id">
                <div :class="cost.file_url ? 'col-md-7' : 'col-md-5'">
                    <input type="text" :name="'costs[quote][' + index + '][description]'" class="form-control" v-model="cost.description" placeholder="Descripción">
                </div>
                <div :class="cost.file_url ? 'col-md-1' : 'col-md-3'">
                    <div v-if="cost.file_url" class="text-center">
                        <a :href="cost.file_url" :title="cost.file_name" class="btn btn-info"><i class="fa fa-download"></i></a>
                    </div>
                    <div v-if="!cost.file_url">
                        <input type="file" class="form-control" :name="'costs[quote][' + index + '][file]'" required>
                    </div>
                </div>
                <div class="col-md-1">
                    <p class="form-control-static">Costo:</p>
                </div>
                <div class="col-md-1">
                    <input type="number" :name="'costs[quote][' + index + '][cost]'" class="form-control" v-model="cost.cost">
                </div>

                <div class="col-md-1">
                    <p class="form-control-static"><strong>${{ currencyFormat(cost.cost) }}</strong></p>
                </div>
                <div class="col-md-1"><button class="btn btn-danger" @click.prevent="removeCost(index, cost.id)">Eliminar</button></div>
            </div>

            <div class="row" v-if="cost.role === 4">
                <input type="hidden" :name="'costs[other][' + index + '][role]'" value="4">
                <input type="hidden" :name="'costs[other][' + index + '][id]'" v-model="cost.id">
                <div class="col-md-2">
                    <select :name="'costs[other][' + index + '][type]'" class="form-control" v-model="cost.type">
                        <option value="MATERIAL">MATERIAL</option>
                        <option value="RRHH">RRHH</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <input type="text" :name="'costs[other][' + index + '][product]'" class="form-control" v-model="cost.product">
                </div>
                <div class="col-md-1">
                    <p class="form-control-static">Cant/Horas:</p>
                </div>
                <div class="col-md-1">
                    <input type="number" :name="'costs[other][' + index + '][amount]'" class="form-control" v-model="cost.amount">
                </div>

                <div class="col-md-1">
                    <p class="form-control-static">Costo:</p>
                </div>
                <div class="col-md-1">
                    <input type="number" :name="'costs[other][' + index + '][cost]'" class="form-control" v-model="cost.cost">
                </div>

                <div class="col-md-1">
                    <p class="form-control-static"><strong>${{ cost.total() }}</strong></p>
                </div>
                <div class="col-md-1"><button class="btn btn-danger" @click.prevent="removeCost(index, cost.id)">Eliminar</button></div>
            </div>

            <div class="row" v-if="cost.role === 5">
                <input type="hidden" :name="'costs[extra][' + index + '][role]'" value="5">
                <input type="hidden" :name="'costs[extra][' + index + '][id]'" v-model="cost.id">
                <input type="hidden" :name="'costs[extra][' + index + '][type]'" value="extra">
                <div class="col-md-9">
                    <input type="text" :name="'costs[extra][' + index + '][product]'" class="form-control" maxlength="150" v-model="cost.product">
                </div>
                <div class="col-md-1">
                    <input type="number" :name="'costs[extra][' + index + '][cost]'" class="form-control" v-model="cost.cost">
                </div>

                <div class="col-md-1">
                    <p class="form-control-static"><strong>${{ cost.total() }}</strong></p>
                </div>
                <div class="col-md-1"><button class="btn btn-danger" @click.prevent="removeCost(index, cost.id)">Eliminar</button></div>
            </div>

        </div>

        <!--
        <div class="form-group">
            <div class="row">
                <div class="col-md-9">&nbsp;</div>
                <div class="col-md-1">Total:</div>
                <div class="col-md-2">${{ totalcost }}</div>
            </div>
        </div>
        -->

        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <button type="button" @click="addMaterial" class="btn btn-primary">+ Material</button>
                    <button type="button" @click="addRrhh" class="btn btn-primary">+ RRHH</button>
                    <button type="button" @click="addQuote" class="btn btn-primary hsQuote">+ Cotización</button>
                    <button type="button" @click="addExtra" class="btn btn-primary">+ Estandar</button>
                    <button type="button" @click="addOther" class="btn btn-primary">+ Otro</button>
                </div>
            </div>
        </div>

    </div>

</template>

<script>
    export default {
        data () {
            return {
                costs: [],
                materials: [],
                products: [],
                rrhh: [],

                already: []
            }
        },

        computed: {
            totalcost: function () {
                let totalcost = 0;
                _.forEach(this.costs, function (cost) {
                    if (cost.role === 1 && cost.product !== undefined) {
                        totalcost = totalcost + Number(cost.amount * cost.product.cost);
                    } else if (cost.role === 2 && cost.rrhh !== undefined) {
                        totalcost = totalcost + Number(cost.amount * cost.rrhh.cost);
                    } else if (cost.role === 3) {
                        totalcost = totalcost + Number(cost.cost);
                    } else if (cost.role === 4) {
                        totalcost += totalcost + Number(cost.amount * cost.cost);
                    }
                });

                return this.currencyFormat(totalcost);
            }
        },

        props: ['items', 'job'],

        mounted () {
            let that = this;
            $.ajax({
                url: laroute.route('jobs.costs.products'),
                dataType: 'json'
            }).then(function (response) {
                that.materials = response.materials;
                that.products  = response.products;
                that.rrhh      = response.rrhh;

                that.loadOld();
            });
        },

        methods: {
            hasMaterial (id) {
                return _.includes(this.already, id);
            },

            loadOld () {
                if (this.items.length === 0) {
                    return;
                }

                let that = this;
                _.forEach(this.items, function(item, key) {
                    if (key === 'materials') {
                        that.loadMaterials(item);
                    } else if (key === 'rrhh') {
                        that.loadRrhh(item);
                    } else if (key === 'quote') {
                        that.loadQuote(item);
                    } else if (key === 'other') {
                        that.loadOther(item);
                    } else if (key === 'extra') {
                        that.loadExtra(item);
                    }
                });
            },

            loadMaterials (item) {
                let that = this;
                _.forEach(item, function (c) {
                    that.already.push(c.id);
                    let cost = {
                        id: c.id,
                        role: 1,
                        type: c.type,
                        material: c.type,
                        product: null,
                        products: that.products[c.type],
                        amount: c.amount,
                        total: function() {
                            if (this.product !== undefined && this.product !== null) {
                                return that.currencyFormat(this.amount * this.product.cost);
                            }

                            return 0;
                        }
                    };

                    if (c.id !== null) {
                        cost.product = cost.products[parseInt(c.id)];
                    }
                    that.costs.push(cost);
                });
            },

            loadRrhh (item) {
                let that = this;
                _.forEach(item, function (c) {
                    let cost = {
                        id: c.id,
                        role: 2,
                        type: c.type,
                        amount: c.amount,
                        total: function() {
                            if (this.rrhh !== undefined && this.rrhh !== null) {
                                return that.currencyFormat(this.amount * this.rrhh.cost);
                            }

                            return 0;
                        }
                    };

                    if (c.id !== null) {
                        cost.rrhh = that.rrhh[parseInt(c.id)];
                    }
                    that.costs.push(cost);
                });
            },

            loadQuote (item) {
                let that = this;
                _.forEach(item, function (c) {
                    let cost = {
                        id: c.id !== undefined ? c.id : '',
                        role: 3,
                        product: c.product,
                        description: c.description,
                        cost: c.cost,
                        file_url: c.file_fullurl !== undefined ? c.file_fullurl: false,
                        file_name: c.file_orig_name !== undefined ? c.file_orig_name : false
                    };

                    that.costs.push(cost);
                });
            },

            loadOther (item) {
                let that = this;
                _.forEach(item, function (c) {
                    let cost = {
                        id: c.id !== undefined ? c.id : '',
                        role: 4,
                        type: c.type,
                        product: c.product,
                        amount: c.amount,
                        cost: c.cost,
                        total: function() {
                            return that.currencyFormat(this.amount * this.cost);
                        }
                    };

                    that.costs.push(cost);
                });
            },

            loadExtra (item) {
                let that = this;
                _.forEach(item, function (c) {
                    let cost = {
                        id: c.id !== undefined ? c.id : '',
                        role: 5,
                        type: 'extra',
                        product: c.product,
                        amount: 1,
                        cost: c.cost,
                        total: function() {
                            return that.currencyFormat(this.amount * this.cost);
                        }
                    };

                    that.costs.push(cost);
                });
            },

            addMaterial () {
                let that = this;
                this.costs.push({
                    id: '',
                    role: 1,
                    type: 'material',
                    products: [],
                    amount: 0,
                    cost: 0,
                    total: function() {
                        if (this.product !== undefined && this.product !== null) {
                            return that.currencyFormat(this.amount * this.product.cost);
                        }

                        return that.currencyFormat(0);
                    }
                });
            },

            addRrhh () {
                let that = this;
                this.costs.push({
                    id: '',
                    role: 2,
                    type: 'rrhh',
                    amount: 0,
                    cost: 0,
                    total: function() {
                        if (this.rrhh !== undefined && this.rrhh !== null) {
                            return that.currencyFormat(this.amount * this.rrhh.cost);
                        }

                        return that.currencyFormat(0);
                    }
                });
            },

            addQuote () {
                this.costs.push({
                    id: '',
                    role: 3,
                    description: '',
                    cost: 0
                });
            },

            addOther () {
                let that = this;
                this.costs.push({
                    id: '',
                    type: '',
                    product: '',
                    role: 4,
                    amount: 0,
                    cost: 0,
                    total: function() {
                        return that.currencyFormat(this.amount * this.cost);
                    }
                });
            },

            addExtra () {
                let that = this;
                this.costs.push({
                    id: '',
                    type: 'extra',
                    product: '',
                    role: 5,
                    amount: 1,
                    cost: 0,
                    total: function() {
                        return that.currencyFormat(this.amount * this.cost);
                    }
                });
            },

            loadMaterialProducts (cost, $event) {
                cost.products = this.products[cost.type];
            },

            setProduct (cost, $event) {
                if (cost.product != undefined && cost.product.id != undefined) {
                    if (_.includes(this.already, cost.product.id)) {
                        _.remove(this.already, function(n) {
                            return n == cost.product.id;
                        });
                    }
                }
                cost.product = this.products[cost.type][parseInt($($event.target).val())];
                this.already.push(parseInt($($event.target).val()));
            },

            setRrhh (cost, $event) {
                cost.rrhh = this.rrhh[parseInt($($event.target).val())];
            },

            currencyFormat (value) {
                let formatter = new Intl.NumberFormat('es-CL', {
                    style: 'currency',
                    currency: 'CLP',
                    minimumFractionDigits: 0,
                });

                return formatter.format(value);
            },

            removeCost (index, id) {
                this.costs.splice(index, 1);
                if (_.includes(this.already, id)) {
                    _.remove(this.already, function(n) {
                        return n == id;
                    });
                }
            }
        }
    }
</script>
