<template>

    <div>
        <div class="form-group" v-for="(image, index) in images" :key="image.key">
            <div class="row">
                <div class="col-md-11">
                    <div v-if="image.file_name">
                        <a :href="image.file_path">{{ image.file_name }}</a>
                    </div>
                    <div v-if="!image.file_name">
                        <input class="form-control" type="file" accept="image/*" :name="'images[' + index + ']'">
                    </div>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-danger" type="button" @click.prevent="removeFile(index)">Eliminar</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" :disabled="images.length >= 5" @click="addInputField">Agregar Imagen</button>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                images: []
            }
        },

        props: ['items'],

        methods: {
            addInputField () {
                this.images.push({
                    key: this.images.length,
                    file_name: '',
                    file_path: ''
                });
            },

            removeFile (index) {
                this.images.splice(index, 1);
            }
        }
    }
</script>