// Here you can add other styles

.jsgrid {
  margin-top: 10px;
}

table {
  @media screen and (max-width: 576px){
    tr.jsgrid-filter-row,
    th.hidden-sm,
    td.hidden-sm {
      display: none !important;
    }
  }

  @media screen and (max-width: 800px){
    tr.jsgrid-filter-row,
    th.hidden-smd,
    td.hidden-smd {
      display: none !important;
    }
  }

  @media screen and (max-width: 1000px){
    tr.jsgrid-filter-row,
    th.hidden-md,
    td.hidden-md {
      display: none !important;
    }
  }

  @media screen and (max-width: 1280px){
    th.hidden-lg,
    td.hidden-lg {
      display: none !important;
    }
  }
}

#otContainer .hsQuote {
    display: none;
}
#otContainer.otQuote .hsQuote {
    display: inline-block !important;
}

.accordion-toggle:after {
  font-family: 'FontAwesome';
  content: "\f078";
  float: right;
}
.accordion-opened .accordion-toggle:after {
  content: "\f054";
}

.collapse.in {
  display: block;
}

tr.collapse.in {
  display: table-row;
}

tbody.collapse.in {
  display: table-row-group;
}

#accordion .card {
  margin-bottom: 0 !important;
}